.calendar
    display: block

    &__nav

        ul
            padding: 0
            list-style: none

            li
                display: inline-block
                margin-right: 20px
                font-weight: 600
                font-size: 12px
                line-height: 16px
                text-transform: uppercase

                a
                    color: #485C73

    &__actions
        margin-bottom: 24px
        display: flex
        justify-content: flex-start
        font-size: 13px
        text-transform: uppercase

        .actions__tasks
            margin-right: 20px
            font-weight: 600
            color: #008dff

    &__schedule
        padding: 28px 12px
        border-radius: 4px
        background-color: #fff

    &__day-of-week
        padding-bottom: 20px
        display: grid
        grid-template-columns: repeat(7, 1fr)
        font-size: 14px
        color: #252631

    &__date-grid
        display: grid
        grid-template-columns: repeat(7, 1fr)

    &__cell
        position: relative
        border: 0
        border-top: 3px solid #e8ecef
        width: 144px
        height: 120px
        font-weight: 600
        text-align: left
        background-color: transparent
        color: #98a9bc

        &:first-child
            grid-column-start: 5
