@import './sidebar.sass'
@import './main.sass'
@import './main-content.sass'
@import './top-bar.sass'
@import './footer-bar.sass'
@import './calendar.sass'
@import './profile.sass'
@import './settings.sass'

$font-black: #252631
$heading-black: #2C2E3F

body
    font-family: SF Pro Text
    background-color: #fff
    color: #98a9bc

h3
    font-family: SF Pro Display
    font-style: normal
    font-weight: normal
    font-size: 22px
    line-height: 28px
    color: $heading-black
