.main
    display: grid
    grid-template-columns: 242px 1fr
    grid-template-rows: minmax(100vh, auto)
    grid-template-areas: "sidebar content"

    .content
        position: relative
        grid-area: content
        background-color: #F8FAFB
