.main
    display: grid
    grid-template-columns: 242px 1fr
    grid-template-rows: minmax(100vh, auto)
    grid-template-areas: "sidebar content"

    .sidebar
        padding-top: 26px
        height: 100vh
        grid-area: sidebar
        display: grid
        grid-template-rows: auto 1fr auto
        grid-template-columns: 100%
        background: var(--white)
        position: -webkit-sticky
        position: sticky
        top: 0
        box-shadow: 0px 2px 16px rgba(153, 155, 168, 0.12)
        z-index: 5

        &__title
            margin-top: 0
            margin-bottom: 24px
            text-align: center
            color: #008dff
            font-size: 18px

        &__nav
            margin: 0
            padding: 0
            list-style-type: none

            a
                display: block
                border: 4px solid #fff
                padding: 25px 10px 25px 66px
                width: 100%
                position: relative
                text-align: left
                line-height: 24px
                font-size: 16px
                color: #778ca2
                text-decoration: none

                &:hover
                    border: 4px solid #f8fafb
                    background-color: #f8fafb
                    border-left: 4px solid #008dff

            .active
                a
                    border: 4px solid #f8fafb
                    border-left: 4px solid #008dff
                    background-color: #f8fafb
                    color: #008dff

                i:before
                    fill: #008dff

            [class^="icon-"]:before
                    content: ''
                    position: absolute
                    top: 25px
                    left: 30px
                    width: 24px
                    height: 24px

            .icon-practice::before
                background: url(../assets/calendar.svg) center center no-repeat

            .icon-teams::before
                background: url(../assets/teams.svg) center center no-repeat

            .icon-tournaments::before
                background: url(../assets/tournament.svg) center center no-repeat

            .icon-playgrounds::before
                background: url(../assets/playgrounds.svg) center center no-repeat

            .icon-contacts::before
                background: url(../assets/contacts.svg) center center no-repeat

    .content
        position: relative
        grid-area: content
        background-color: #F8FAFB

        .top-bar
            padding: 14px 20px
            min-height: 64px
            position: sticky
            top: 0
            display: flex
            justify-content: space-between
            align-items: center
            background-color: #fff
            box-shadow: 0px 2px 16px rgba(153, 155, 168, 0.12)
            z-index: 3

            &__menu
                display: flex
                justify-content: center

                button
                    border: 0
                    outline: none
                    background-color: #fff

                h3
                    font-size: 1.5rem
                    color: #778ca2

            &__settings
                display: flex

            &__avatar
                margin: 0 8px
                position: relative

                button
                    padding: 0
                    border-color: transparent
                    outline: none
                    background: transparent

            &__img
                width: 2.6rem
                height: 2.6rem
                border: .1px solid #fff
                border-radius: 100%
                overflow: hidden
                cursor: pointer

                img
                    width: 2.5rem
                    height: 2.5rem

            &__avatar-menu
                position: absolute
                top: 60px
                right: -20px
                width: 264px
                border-radius: 4px
                color: #252631
                box-shadow: 0 0 6px rgba(0,0,0,.16), 0 0 6px rgba(0,0,0,.23), 0 50px 100px rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 0 5px 15px rgba(0,0,0,.1)

            &__profile
                padding: 20px
                display: flex
                align-items: center
                background-color: #f8fafb

            &__avatar-img

                img
                    display: inline-block
                    width: 36px
                    height: 36px
                    border-radius: 50%

            &__user-details
                margin-left: 16px
                display: inline-block
                vertical-align: top

            &__mail
                font-size: 14px
                color: #98a9bc

            &__links
                padding: 20px 20px 0

                ul
                    margin-bottom: 0
                    padding-left: 0

            &__link
                position: relative
                padding-left: 30px
                margin-bottom: 30px
                font-size: 12px
                text-transform: uppercase
                list-style: none
                cursor: pointer

                &::before
                    content: ''
                    position: absolute
                    top: 0
                    left: 0
                    width: 20px
                    height: 20px

                &_profile
                    background: url('../assets/topBar_person.svg') no-repeat

                &_settings
                    background: url('../assets/topBar_settings.svg') no-repeat

                &_log-out
                    background: url('../assets/topBar_log-out.svg') no-repeat

            &__header-tab
                margin: 0 8px
                position: ralative

            &__icon
                display: flex
                height: 40px
                justify-content: center

                button
                    border: 0
                    background-color: transparent
