.profile
    // background: linear-gradient(180deg, #12C99B 0%, rgba(255, 255, 255, 0) 100%)

    &__background
        width: 100%
        height: 184px
        border: 2px dotted #98a9bc
        border-radius: 4px
        text-align: center
        // align-self: center

    &__header
        display: flex
        justify-content: space-between
        margin-top: 30px
        padding: 30px
        width: 100%
        height: 242px
        background-color: #fff

    &__info
        width: 60%
        color: #778CA2

    &__name
        font-family: SF Pro Text
        font-size: 17px
        line-height: 22px
        color: #2c2e3f

    &__position
        font-size: 14px
        line-height: 21px

    &__description
        font-style: normal
        font-weight: 300
        font-size: 14px
        line-height: 21px

    &__payment
        width: 20%
        text-align: right

    &__score
        padding: 13px 0
        width: 180px
        border-radius: 4px
        background-color: rgba(0, 140, 255, 0.08)
        text-align: center
        font-weight: 500
        font-size: 14px
        line-height: 17px
        color: #008DFF

    &__activity
        margin-top: 40px
        padding: 30px 50px
        width: 100%
        background-color: #fff
