.profile

    &__background
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        height: 184px
        border: 1px dashed #98A9BC
        border-radius: 4px
        text-align: center

        span
            position: relative
            font-weight: 500
            font-size: 12px
            line-height: 14px
            text-transform: uppercase
            color: #98A9BC

            &::before
                content: ''
                position: absolute
                top: 50%
                left: -32px
                width: 24px
                height: 24px
                background: url(../assets/settings_img.svg) center center no-repeat
                transform: translateY(-50%)

    &__header
        display: flex
        justify-content: space-between
        margin: 30px 0
        padding: 30px
        width: 95%
        border-radius: 4px
        background-color: #fff

    &__info
        display: flex
        flex-direction: column
        width: 60%
        color: #778CA2

    &__avatar
        padding-top: 30px
        position: relative

        &::after
            content: ''
            position: absolute
            bottom: 10px
            left: 70px
            width: 16px
            height: 16px
            background-color: #fff
            border: 5px solid #6dd230
            border-radius: 50%

    &__img
        position: absolute
        bottom: 6px
        border-radius: 50%
        overflow: hidden

        img
            width: 96px
            height: 96px

    &__name
        margin-bottom: 10px
        font-family: SF Pro Text
        font-size: 17px
        line-height: 22px
        color: #2c2e3f

    &__position
        margin-bottom: 20px
        font-size: 14px
        line-height: 21px

    &__email
        font-weight: 600
        font-size: 12px
        line-height: 16px
        text-transform: uppercase
        color: #98A9BC

        span
            font-style: normal
            font-weight: 500
            font-size: 11px
            line-height: 13px
            color: #008DFF

    &__description
        margin-bottom: 20px
        font-style: normal
        font-weight: 300
        font-size: 14px
        line-height: 21px

    &__btns
        display: flex

    &__btn
        margin-right: 4px
        padding: 13px 0
        width: 90px
        border-radius: 4px
        background-color: rgba(0, 140, 255, 0.08)
        text-align: center
        font-weight: 500
        font-size: 14px
        line-height: 17px
        color: #008DFF

    &__payment
        display: flex
        flex-direction: column
        justify-content: space-between

    &__score
        padding: 13px 0
        width: 180px
        border-radius: 4px
        background-color: rgba(0, 140, 255, 0.08)
        text-align: center
        font-weight: 500
        font-size: 14px
        line-height: 17px
        color: #008DFF

    &__activity
        margin-top: 40px
        padding: 30px 50px
        width: 100%
        background-color: #fff
        border-radius: 4px

    &__social

        ul
            padding-left: 0px
            margin-bottom: 0
            text-align: right

        li
            display: inline-block
            margin-left: 16px
            width: 32px
            height: 32px
            list-style: none
            background-color: #f8fafb
            border-radius: 50%

        a
            display: block
            width: 100%
            height: 100%

            &[class^="social-"]
                background-position: center
                background-repeat: no-repeat

        .social-google
            background: url('../assets/google_header.svg')

        .social-instagram
            background: url('../assets/instagram_header.svg')

        .social-facebook
            background: url('../assets/facebook_header.svg')

        .social-new
            background: url('../assets/new-social_header.svg')
