@import './colors.sass'

.settings
    background-color: #fff
    display: grid
    grid-template-columns: 1fr 3fr
    border-radius: 4px

    &__aside
        border-right: 1px solid #F8FAFB
        color: #008dff

    &__content
        padding: 30px

        h3
            margin-bottom: 30px

    &__img
        margin-bottom: 30px
        padding-top: 60px
        width: 100%
        height: 124px
        border: 2px dotted #e8ecef
        text-align: center

    &__form
        margin-bottom: 80px
        font-size: 14px

        label
            display: block
            color: $font-black

        input
            width: 380px
            margin-bottom: 26px
            padding: 20px 0 20px 16px
            border: 1px solid #E8ECEF
            border-radius: 4px

            &::placeholder
                line-height: 21px
                color: #98a9bc
