@import './colors.sass'

.settings
    background-color: #fff
    display: grid
    grid-template-columns: 1fr 3fr
    border-radius: 4px

    &__aside
        border-right: 1px solid #F8FAFB
        color: #008dff

    &__content
        padding: 30px
        min-height: 740px

        h3, h5
            margin-bottom: 30px

    &__img
        display: flex
        justify-content: center
        align-items: center
        margin-bottom: 30px
        width: 100%
        height: 124px
        border: 2px dotted #e8ecef
        border-radius: 4px

        span
            display: block
            position: relative
            font-style: normal
            font-weight: 500
            font-size: .75rem
            line-height: 14px
            text-transform: uppercase

            &::before
                content: ''
                position: absolute
                top: 50%
                left: -32px
                width: 24px
                height: 24px
                background: url(../assets/settings_img.svg) center center no-repeat
                transform: translateY(-50%)

    &__form
        display: flex
        flex-wrap: wrap
        // margin-bottom: 80px
        font-size: 14px

        label
            display: block
            color: $font-black

        input
            width: 100%
            margin-bottom: 26px
            padding: 20px 0 20px 16px
            border: 1px solid #E8ECEF
            border-radius: 4px

            &::placeholder
                line-height: 21px
                color: #98a9bc

    &__input
        padding-right: 26px
        width: 50%

    &__link
        display: block
        position: relative
        padding: 18px 0 18px 60px
        border-bottom: 1px solid #f8fafb
        color: #485C73

        &:first-child
            border-top-left-radius: 4px

        &:hover
            background-color: #f8fafb
            text-decoration: none
            color: #485C73

        [class^="icon-"]:before
            content: ''
            position: absolute
            top: 38%
            left: 20px
            width: 24px
            height: 24px
            background-position: center
            background-repeat: no-repeat
            background-position: 50%
            transform: translateY(-38%)

        .icon-main::before
            background-image: url(../assets/settings_profile-active.svg)

        .icon-social::before, .icon-password:before, .icon-payment:before
            background-image: url(../assets/settings_profile.svg)

        .icon-notification::before
            background-image: url(../assets/headerTab-bell.svg)

        span
            display: block

    &__nav
        color: #778ca2

        ul
            padding-left: 0
            list-style: none

        .active

            .settings__link
                background-color: #f8fafb
                border-right: 2px solid #0D9372
                color: #0D9372

            &:hover
                color: #008dff

    &__title
        font-size: 1rem
        line-height: 19px

    &__description
        font-size: .875rem
        color: #98a9bc

    &__add
        display: flex
        justify-content: flex-start
        align-items: center
        margin-bottom: 30px

        span
            font-style: normal
            font-weight: 500
            font-size: 12px
            line-height: 14px
            text-transform: uppercase
            color: #008dff

    &__btns
        display: flex
        justify-content: space-between
        padding-right: 26px
